/* Main Style */
body {
  padding: 0;
  margin: 0;
  background-color: #BCBDC0;
  width: 100%;
  font-family: 'Alegreya Sans SC', 'Verdana', sans-serif;
  font-size: 15px; }

h1 {
  text-align: center;
  font-family: 'Cardo', 'Georgia', serif;
  font-size: 4em; }

#prediction-form, #results {
  font-size: 2em; }
  #prediction-form .form-category, #results .form-category {
    width: 93%;
    background-color: white;
    border: 3px solid black;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    border-radius: 3vw;
    margin: 0.5em auto;
    padding: 0.5em; }
    #prediction-form .form-category .category-title, #results .form-category .category-title {
      padding: 0 0 0 1.1em;
      margin: 0;
      position: relative;
      overflow: hidden; }
      #prediction-form .form-category .category-title::before, #results .form-category .category-title::before {
        content: '';
        position: absolute;
        width: 1em;
        height: 1em;
        top: 0;
        left: 0;
        background: url("../img/icons/expand.svg");
        background-repeat: no-repeat;
        background-position: center center; }
    #prediction-form .form-category ul, #results .form-category ul {
      margin: 0 0.25em 0 1.25em; }
      #prediction-form .form-category ul h3, #results .form-category ul h3 {
        margin: 0.3em 0; }
      #prediction-form .form-category ul label, #results .form-category ul label {
        display: inline-block;
        margin: 0.25em; }
      #prediction-form .form-category ul input, #results .form-category ul input {
        font-family: 'Alegreya Sans SC', 'Verdana', sans-serif;
        font-size: 1em;
        -webkit-border-radius: 1vw;
        -moz-border-radius: 1vw;
        border-radius: 1vw; }
        #prediction-form .form-category ul input:focus, #results .form-category ul input:focus {
          outline: none;
          -moz-box-shadow: inset 0 0 0.2em black;
          -webkit-box-shadow: inset 0 0 0.2em black;
          box-shadow: inset 0 0 0.2em black; }
      #prediction-form .form-category ul input[type=text], #prediction-form .form-category ul input[type=date], #results .form-category ul input[type=text], #results .form-category ul input[type=date] {
        padding-left: 0.5em;
        border: 2px solid #888888; }
        #prediction-form .form-category ul input[type=text]:focus, #prediction-form .form-category ul input[type=date]:focus, #results .form-category ul input[type=text]:focus, #results .form-category ul input[type=date]:focus {
          outline: none;
          -moz-box-shadow: inset 0 0 0.2em black;
          -webkit-box-shadow: inset 0 0 0.2em black;
          box-shadow: inset 0 0 0.2em black; }
      #prediction-form .form-category ul input[slide=true], #results .form-category ul input[slide=true] {
        float: right;
        width: 1.7em;
        text-align: center;
        border: 2px solid #3b94ed; }
      #prediction-form .form-category ul input[type=text], #results .form-category ul input[type=text] {
        width: 66%; }
      #prediction-form .form-category ul input[type=date], #results .form-category ul input[type=date] {
        width: 33%; }
  #prediction-form input[type=submit], #results input[type=submit] {
    font-family: 'Alegreya Sans SC', 'Verdana', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    border: 3px solid black;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    border-radius: 3vw;
    padding: 0.35em;
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #bbf1e3; }
    #prediction-form input[type=submit]:active, #results input[type=submit]:active {
      background-color: #42f076; }

.column-group .column {
  width: 47%;
  display: inline-block; }
  .column-group .column label {
    display: block !important; }

.registry {
  width: 100%; }
  .registry td {
    width: 50%; }

.collapsed::before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
.collapsed + * {
  display: none; }

.slider {
  margin-bottom: 2em; }
  .slider.noUi-target {
    border-color: black; }
  .slider .noUi-handle {
    border-color: #888888; }
    .slider .noUi-handle::before {
      background: #AAAAAA; }
    .slider .noUi-handle::after {
      background: #AAAAAA; }
  .slider .noUi-connect {
    background: red; }
  .slider .noUi-pips {
    color: black; }
  .slider .noUi-marker, .slider .noUi-marker-large {
    background: #999999; }

button {
  border: none; }

#loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9001;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: none; }
  #loading img {
    width: 30vh;
    height: auto;
    margin-top: 35vh;
    margin-left: calc((100vw - 30vh) / 2); }

.notification {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 3em;
  background-color: #f05200;
  color: white;
  z-index: 9001;
  display: none; }

.control {
  font-size: 1em;
  position: relative;
  display: block;
  padding-left: 1.25em;
  cursor: pointer; }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
    .control input:checked ~ .control-indicator {
      background: #2aa1c0; }
      .control input:checked ~ .control-indicator::after {
        display: block; }

.control-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  background: #e6e6e6; }
  .control-indicator::after {
    position: absolute;
    display: none;
    content: ''; }

.control-radio .control-indicator {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .control-radio .control-indicator::after {
    top: 0.25em;
    left: 0.25em;
    width: 0.5em;
    height: 0.5em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff; }

.control-checkbox .control-indicator::after {
  top: 0.15em;
  left: 0.35em;
  width: 0.2em;
  height: 0.5em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border: solid #fff;
  border-width: 0 2px 2px 0; }

/*# sourceMappingURL=hipec-index.css.map */
