/* Main Style */
body {
  padding: 0;
  margin: 0;
  background-color: #BCBDC0;
  width: 100%;
  font-family: 'Alegreya Sans SC', 'Verdana', sans-serif;
  font-size: 15px; }

h1 {
  text-align: center;
  font-family: 'Cardo', 'Georgia', serif;
  font-size: 4em; }

#prediction-form, #results {
  font-size: 2em; }
  #prediction-form .form-category, #results .form-category {
    width: 93%;
    background-color: white;
    border: 3px solid black;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    border-radius: 3vw;
    margin: 0.5em auto;
    padding: 0.5em; }
    #prediction-form .form-category .category-title, #results .form-category .category-title {
      padding: 0 0 0 1.1em;
      margin: 0;
      position: relative;
      overflow: hidden; }
      #prediction-form .form-category .category-title::before, #results .form-category .category-title::before {
        content: '';
        position: absolute;
        width: 1em;
        height: 1em;
        top: 0;
        left: 0;
        background: url("../img/icons/expand.svg");
        background-repeat: no-repeat;
        background-position: center center; }
    #prediction-form .form-category ul, #results .form-category ul {
      margin: 0 0.25em 0 1.25em; }
      #prediction-form .form-category ul h3, #results .form-category ul h3 {
        margin: 0.3em 0; }
      #prediction-form .form-category ul label, #results .form-category ul label {
        display: inline-block;
        margin: 0.25em; }
      #prediction-form .form-category ul input[type=range], #results .form-category ul input[type=range] {
        display: none; }
      #prediction-form .form-category ul li span, #results .form-category ul li span {
        float: right;
        width: 2em;
        text-align: center;
        border: 2px solid #3b94ed;
        -webkit-border-radius: 1vw;
        -moz-border-radius: 1vw;
        border-radius: 1vw; }
  #prediction-form input[type=submit], #results input[type=submit] {
    font-family: 'Alegreya Sans SC', 'Verdana', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid black;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    border-radius: 3vw;
    padding: 0.35em;
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #bbf1e3; }
    #prediction-form input[type=submit]:active, #results input[type=submit]:active {
      background-color: #42f076; }

.registry {
  width: 100%; }
  .registry td {
    width: 50%; }

.collapsed::before {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
.collapsed + * {
  display: none; }

.slider {
  margin-bottom: 2em; }
  .slider.noUi-target {
    border-color: black; }
  .slider .noUi-handle {
    border-color: #888888; }
    .slider .noUi-handle::before {
      background: #AAAAAA; }
    .slider .noUi-handle::after {
      background: #AAAAAA; }
  .slider .noUi-pips {
    color: black; }
  .slider .noUi-marker, .slider .noUi-marker-large {
    background: #999999; }

button {
  border: none; }

/*# sourceMappingURL=hipec-index.css.map */
