{% extends "hipec/base.html" %}

{% block form %}
	<h1>CRS-HIPEC Risk &amp; Survival Prediction Tool: INPUT</h1>
	<form id="prediction-form" action="/hipec/hipec-app/" method="POST">
		{% csrf_token %}
		<div class="form-category">
			<h2 class="category-title">Patient Information</h2>
			<ul>
				<li>
					<h3>Patient Name</h3>
					<input type="text" name="registry_name"/>
				</li>
				<li>
					<h3>Date of Birth</h3>
					<input type="date" name="registry_dob"/>
				</li>
			</ul>
		</div>
		<div class="form-category">
			<h2 class="category-title collapsed">Core Variables</h2>
			<ul>
				<li>
					<h3>Primary Tumor</h3>
					<div class="column-group">
						<div class="column">
							<label class="control control-radio">Appendix
								<input type="radio" name="core_primary_tumor" value="Appendiceal"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Breast
								<input type="radio" name="core_primary_tumor" value="Breast"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Colorectal
								<input type="radio" name="core_primary_tumor" value="Colorectal"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Gastric
								<input type="radio" name="core_primary_tumor" value="Gastric"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Genitourinary
								<input type="radio" name="core_primary_tumor" value="Urinary"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Gyn Onc (Non-Ovarian)
								<input type="radio" name="core_primary_tumor" value="Gyn Onc(Non Ovarian)"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Hepatobiliary
								<input type="radio" name="core_primary_tumor" value="HPB"/>
								<div class="control-indicator"></div>
							</label>
						</div>
						<div class="column">
							<label class="control control-radio">Mesothelioma
								<input type="radio" name="core_primary_tumor" value="Mesothelioma"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Neuroendocrine
								<input type="radio" name="core_primary_tumor" value="NeuroEndocrine"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Ovarian
								<input type="radio" name="core_primary_tumor" value="Ovarian"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Pancreatic
								<input type="radio" name="core_primary_tumor" value="Pancreatic"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Sarcoma/GIST
								<input type="radio" name="core_primary_tumor" value="Sarcoma/GIST"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Small Bowel
								<input type="radio" name="core_primary_tumor" value="Small Bowel"/>
								<div class="control-indicator"></div>
							</label>
							<label class="control control-radio">Unknown Primary
								<input type="radio" name="core_primary_tumor" value="Unknown Primary"/>
								<div class="control-indicator"></div>
							</label>
						</div>
					</div>
				</li>
				<li>
					<h3>Age</h3>
					<input name="core_age__upper" type="number" min="18" max="99" slide="true" spread="true"/>
					<input name="core_age__lower" type="number" min="18" max="99" slide="true" spread="true"/>
					<div class="slider" slide="core_age" id="slide_core_age"></div>
				</li>
				<li>
					<h3>CCI</h3>
					<input name="core_charlson__upper" type="number" min="6" max="18" slide="true" spread="true"/>
					<input name="core_charlson__lower" type="number" min="6" max="18" slide="true" spread="true"/>
					<div class="slider" slide="core_charlson" id="slide_core_charlson"></div>
				</li>
				<li>
					<h3>KPS</h3>
					<input name="core_karnofsky" type="number" min="10" max="100" slide="true"/>
					<div class="slider" slide="core_karnofsky" id="slide_core_karnofsky"></div>
				</li>
				<li>
					<h3>PCI</h3>
					<input name="core_peritoneal__upper" type="number" min="0" max="39" slide="true" spread="true"/>
					<input name="core_peritoneal__lower" type="number" min="0" max="39" slide="true" spread="true"/>
					<div class="slider" slide="core_peritoneal" id="slide_core_peritoneal"></div>
				</li>
				<li>
					<h3>CC Score</h3>
					<label class="control control-radio">0
						<input type="radio" name="core_cytoreduction" value="0"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-radio">1
						<input type="radio" name="core_cytoreduction" value="1"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-radio">2
						<input type="radio" name="core_cytoreduction" value="2"/>
						<div class="control-indicator"></div>
					</label>
				</li>
			</ul>
		</div>
		<div class="form-category">
			<h2 class="category-title collapsed">Demographics/Co-morbidities</h2>
			<ul>
				<li>
					<h3>Gender</h3>
					<label class="control control-checkbox">Male
						<input class="optional" type="checkbox" name="dem_gender" value="Male"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">Female
						<input class="optional" type="checkbox" name="dem_gender" value="Female"/>
						<div class="control-indicator"></div>
					</label>
				</li>
				<li>
					<h3>Race</h3>
					<label class="control control-checkbox">Asian
						<input class="optional" type="checkbox" name="dem_race" value="Asian"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">Black/African American
						<input class="optional" type="checkbox" name="dem_race" value="Black/African American"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">Hispanic
						<input class="optional" type="checkbox" name="dem_race" value="Hispanic"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">Middle Eastern
						<input class="optional" type="checkbox" name="dem_race" value="Middle Eastern"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">Native American
						<input class="optional" type="checkbox" name="dem_race" value="Native American"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">White
						<input class="optional" type="checkbox" name="dem_race" value="White"/>
						<div class="control-indicator"></div>
					</label>
				</li>
				<li>
					<h3>Pre-Op BMI</h3>
					<label class="control control-checkbox">Enabled
						<input class="optional" type="checkbox" name="enable_dem_bmi" value="1"/>
						<div class="control-indicator"></div>
					</label>
					<input name="dem_bmi__upper" type="number" min="10" max="70" slide="true" spread="true"/>
					<input name="dem_bmi__lower" type="number" min="10" max="70" slide="true" spread="true"/>
					<div class="slider" slide="dem_bmi" id="slide_dem_bmi"></div>
				</li>
				<li>
					<h3>ASA Score</h3>
					<label class="control control-checkbox">ASA 1 - Normal Healthy Patient
						<input class="optional" type="checkbox" name="dem_asa" value="1"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">ASA 2 - Mild Systemic Disease
						<input class="optional" type="checkbox" name="dem_asa" value="2"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">ASA 3 - Severe Systemic Disease
						<input class="optional" type="checkbox" name="dem_asa" value="3"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">ASA 4 - Severe Systemic Dieases (Life Threatening)
						<input class="optional" type="checkbox" name="dem_asa" value="4"/>
						<div class="control-indicator"></div>
					</label>
				</li>
				<li>
					<h3>History of Depression Pre-Op</h3>
					<label class="control control-checkbox">Yes
						<input class="optional" type="checkbox" name="dem_depression" value="Yes"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">No
						<input class="optional" type="checkbox" name="dem_depression" value="No"/>
						<div class="control-indicator"></div>
					</label>
				</li>
				<li>
					<h3>Beta Blocker</h3>
					<label class="control control-checkbox">Yes
						<input class="optional" type="checkbox" name="dem_beta_block" value="Yes"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">No
						<input class="optional" type="checkbox" name="dem_beta_block" value="No"/>
						<div class="control-indicator"></div>
					</label>
				</li>
				<li>
					<h3>Antidepressant</h3>
					<label class="control control-checkbox">Yes
						<input class="optional" type="checkbox" name="dem_antidepr" value="Yes"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">No
						<input class="optional" type="checkbox" name="dem_antidepr" value="No"/>
						<div class="control-indicator"></div>
					</label>
				</li>
				<li>
					<h3>Smoker</h3>
					<label class="control control-checkbox">Yes
						<input class="optional" type="checkbox" name="dem_smoker" value="Yes"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">No
						<input class="optional" type="checkbox" name="dem_smoker" value="No"/>
						<div class="control-indicator"></div>
					</label>
				</li>
				<li>
					<h3>Smoking Status</h3>
					<label class="control control-checkbox">Current
						<input class="optional" type="checkbox" name="dem_smoke_status" value="Current"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">Former
						<input class="optional" type="checkbox" name="dem_smoke_status" value="Former"/>
						<div class="control-indicator"></div>
					</label>
					<label class="control control-checkbox">Never
						<input class="optional" type="checkbox" name="dem_smoke_status" value="Never"/>
						<div class="control-indicator"></div>
					</label>
				</li>
				<li>
					<h3>Number of Packs/Year</h3>
					<label class="control control-checkbox">Enabled
						<input class="optional" type="checkbox" name="enable_dem_bmi" value="1"/>
						<div class="control-indicator"></div>
					</label>
					<input name="dem_smoke_pack__upper" type="number" min="0" max="60" slide="true" spread="true"/>
					<input name="dem_smoke_pack__lower" type="number" min="0" max="60" slide="true" spread="true"/>
					<div class="slider" slide="dem_smoke_pack" id="slide_dem_smoke_pack"></div>
			</ul>
		</div>
		<div class="form-category">
			<h2 class="category-title collapsed">Tumor Markers</h2>
		</div>
		<input type="submit" value="Calculate HIPEC Risk"/>
	</form>
	
	{% load static %}
	<div id="loading">
		<img src="{% static 'img/icons/rolling.svg' %}"/>
	</div>
{% endblock %}

{% block scripts %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/index-category-headers.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index-slider.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index-loader.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/index-optionals.js' %}"></script>
{% endblock %}