{% extends "hipec/base.html" %}

{% block form %}
	<h1>CRS-HIPEC Risk & Survival Prediction Tool: INPUT</h1>
	<form id="prediction-form" action="/hipec/hipec-app/" method="POST">
		{% csrf_token %}
		<div class="form-category">
			<h2 class="category-title">Patient Information</h2>
			<ul>
				<li>
					<h3>Patient Name</h3>
					<input type="text" name="registry_name"/>
				</li>
				<li>
					<h3>Date of Birth</h3>
					<input type="date" name="registry_dob"/>
				</li>
			</ul>
		</div>
		<div class="form-category">
			<h2 class="category-title collapsed">Core Variables</h2>
			<ul>
				<li>
					<h3>Primary Tumor</h3>
					<label><input type="radio" name="core_primary_tumor" value="appendix"/>Appendix</label>
					<label><input type="radio" name="core_primary_tumor" value="colorectal"/>Colorectal</label>
					<label><input type="radio" name="core_primary_tumor" value="mesothelioma"/>Mesothelioma</label>
					<label><input type="radio" name="core_primary_tumor" value="gastric"/>Gastric</label>
					<label><input type="radio" name="core_primary_tumor" value="sarcoma"/>Sarcoma</label>
					<label><input type="radio" name="core_primary_tumor" value="primary peritoneal"/>Primary Peritoneal</label>
				</li>
				<li>
					<h3>Age</h3>
					<input name="core_age" type="number" min="18" max="90" pips="10" slide="true"/>
					<div class="slider" slide="core_age" id="slide_core_age"></div>
				</li>
				<li>
					<h3>Charlson Co-morbidity Index</h3>
					<input name="core_charlson" type="number" min="4" max="16" pips="13" slide="true"/>
					<div class="slider" slide="core_charlson" id="slide_core_charlson"></div>
				</li>
				<li>
					<h3>Karnofsky's Performance Status</h3>
					<input name="core_karnofsky" type="number" min="20" max="100" pips="11" slide="true"/>
					<div class="slider" slide="core_karnofsky" id="slide_core_karnofsky"></div>
				</li>
				<li>
					<h3>Peritoneal Carcinomatosis Index</h3>
					<input name="core_peritoneal" type="number" min="0" max="28" pips="8" slide="true"/>
					<div class="slider" slide="core_peritoneal" id="slide_core_peritoneal"></div>
				</li>
				<li>
					<h3>Completeness of Cytoreduction Score</h3>
					<label><input type="radio" name="core_cytoreduction" value="0"/>0</label>
					<label><input type="radio" name="core_cytoreduction" value="1"/>1</label>
					<label><input type="radio" name="core_cytoreduction" value="2"/>2</label>
				</li>
			</ul>
		</div>
		<div class="form-category">
			<h2 class="category-title collapsed">Demographics/Co-morbidities</h2>
		</div>
		<div class="form-category">
			<h2 class="category-title collapsed">Tumor Markers</h2>
		</div>
		<input type="submit" value="Calculate HIPEC Risk"/>
	</form>
{% endblock %}

{% block scripts %}
	{% load static %}
	<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hipec-index.js' %}"></script>
{% endblock %}